<h4 class="sideNav-title">Groups</h4>

<button mat-button id="addButton" (click)="onEdit()" ng-show="!showForm"> 
    Add Group <mat-icon>add_box</mat-icon></button>


<ul class="list-group">
    <a md-button>
        <!-- pasa por todos los grupos de una api y los despliega como lista en la sidebar -->
        <li *ngFor="let group of DROPDOWN_LIST" class="list-group-item list-group-item-action">
            {{group}}
        </li>
    </a>
</ul>

<form [formGroup]="groupForm">
	<mat-form-field class="example-full-width" *ngIf="showForm" (keyup.enter)="update()">
        <!-- <mat-icon matPrefix>add</mat-icon> -->
		<input matInput  placeholder="New Group" formControlName="group" [(ngModel)]="group" >
        
  </mat-form-field>
</form>












<!-- <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0"  *ngFor="let group of grouped | keyvalue">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{group.key}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p *ngFor="let item of group.value" [ngClass]="{get: item.methodType == 'GET', post: item.methodType == 'POST', put: item.methodType == 'PUT', delete: item.methodType == 'DELETE'}" (click)="getEndpointDetail(item.endpointID)">
            <span>{{item.methodType}}</span><span class="description"> - {{item.endpointDescription}}</span>
        <p>
    </mat-expansion-panel>
</mat-accordion> -->