mat-expansion-panel{
    background-color: #F2EEE9;
}

mat-panel-title{
    font-size: large;
}

.get{
    color: #61AFFE;
    font-weight: bold;
}

.post{
    color: #49CC90;
    font-weight: bold;
}

.delete{
    color: #DC4349;
    font-weight: bold;
}
.put{
    color: #FCA130;
    font-weight: bold;
}

.description{
    color: black;
    font-weight:lighter
}

p:hover{
    text-decoration:underline;
    text-decoration-color: black;
    cursor: pointer;   
}

mat-toolbar {
    background: #F2EEE9;
    color: black;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #F2EEE9;
    color: black;
    text-align: justify;
    text-indent: 10%;
    border-radius: 10px;
}
mat-sidenav-content{
  left: 5%;
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: black;

    border-radius: 10px;
}
.sideNav-title{
    text-align: left;
    margin: 10px;
    margin-left: 19px;
    font-weight: 550;
    font-size: 1rem;
    color: #4C4A48;
}

mat-sidenav-container {
    width: 100%;
    height: calc(100vh - 65px);
    background: #F2EEE9;
}

.list-group-item{
    background-color: transparent;
    border: none;
}
.list-group-item:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
    color: #de4e37;
}


.button{
    border: none;
    color: white;
    /* padding: 5px ; */
    font-weight: 500;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    padding-top: 2px;
    
}

.button1 {background-color: #B3B3B3;}
.button2 {background-color: #FF7E36;}

.example-full-width{
    width: 70%;
    padding-left: 20px;
}

.mat-icon{
    font-size: 20px;
}