<h4 class="sideNav-title">Groups</h4>

<button mat-button id="addButton" (click)="onEdit()" ng-show="!showForm"> 
    Add Group <mat-icon>add_box</mat-icon></button>


<ul class="list-group" *ngIf="DROPDOWN_LIST">
    <a md-button>
        <!-- pasa por todos los grupos de una api y los despliega como lista en la sidebar -->
        <li *ngFor="let group of DROPDOWN_LIST; let i = index" [ngClass] = "calculateClasses(selectedIndex === i)" (click)="sendGroupID(group); setIndex(i)">
            {{group.name}}
        </li>
    </a>
</ul>

<form [formGroup]="groupForm">
	<mat-form-field class="example-full-width" *ngIf="showForm" (keyup.enter)="update()">
        <!-- <mat-icon matPrefix>add</mat-icon> -->
		<input matInput  placeholder="New Group" formControlName="group" [(ngModel)]="group" >
        
  </mat-form-field>
</form>
