body {
  background-color: #F2EEE9;
  overflow-y: auto;
}

h1 {
  font-weight: 750;
}

.smallTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-top: 4%;
}

.example-container {
  padding-top: 3%;
  width: 68%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.directions{
  padding-top: 0.5em;
  padding-left: 2.5em;
  font-weight: bolder;
  font-size: larger;
}
.nombre {
  font-weight: 750;
  padding-left: 15%;
  padding-top: 1%;
}


.apiData {
  font-weight: 900;
  padding-top: 5%;
  margin-left: 10%;
}

.sidebar {
  width: 15%;
  float: left;
  margin-left: 2%;
  margin-top: 5%;
  height: 100%;
}

table {
  background-color: #F2EEE9;
  width: 70%;
  border-spacing: 0 20px !important;
  border-collapse: separate;
}

tr {
  height: 35px;
}

th:first-child {
  width: 0.5%;
}
.true {
  color: #FF5C00;
}

.false {
  color: #D7D7D7;
}

.get {
  color: white;
  background: #61AFFE;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;
}

.post {
  color: white;
  background: #49CC90;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;
}

.delete {
  color: white;
  background: #DC4349;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;

}

.put {
  color: white;
  background: #FCA130;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;
}

.get2 {
  background: #EBF3FB;
  border-radius: 0px 5px 5px 0px;
  font-weight: lighter;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;
}

.post2 {
  background: #bbdf9f;
  border-radius: 0px 5px 5px 0px;
  font-weight: lighter;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;
}

.delete2 {
  background: #eda7a4;
  border-radius: 0px 5px 5px 0px;
  font-weight: lighter;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;

}

.put2 {
  background: #f7dc97;
  border-radius: 0px 5px 5px 0px;
  font-weight: lighter;
  width: 7%;
  padding-left: 1%;
  letter-spacing: 2px;
}

.button {
  border: none;
  color: white;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  padding-top: 2px;

}

.nepButton{
  border-radius: 10px;
  background-color:#FF5C00;
  color: white;
  /* position: relative;
  left: 61rem;
  top: 1rem; */
}

