<body>
    <app-navbar></app-navbar>
    <div class="sidebar">
        <app-groups (outputToParent)="getOutputGroup($event)"></app-groups>
    </div>

    <div class="apiData" *ngIf="apiData">
        <span>
            <h1>{{apiData.name}}</h1>
            <h3 id="baseURL">Base URL: {{apiData.baseUrl}}</h3>
        </span>
    </div>

    <!-- when the api has groups - select a group to continue -->
    <ng-container *ngIf="showF;else second ">
        <ng-container>
            <div class="example-container">
                <div>
                    <h2>Select or create a group to continue</h2>
                    <img src="./assets/images/choice.svg" width="280rem" class="directions">
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-template #second>
        <ng-container *ngIf="showL; else third">
            <h1 class="nombre" *ngIf="group">{{group.name}}</h1>
            <a mat-button class="button button2" (click)="addEndpointRedirect(group.groupID)" *ngIf="group">
                Add Endpoint
            </a>
            <div class="example-container">
                <div>
                    <h2 class="smallTitle">No data to display</h2>
                    <img src="./assets/images/add.svg" width="340rem" class="directions">
                    <h4 class="smallTitle">Create an endpoint to continue</h4>
                </div>
            </div>

        </ng-container>
    </ng-template>

    <ng-template #third>
        <h1 class="nombre" *ngIf="group">{{group.name}}</h1>
        <a mat-button class="button button2" (click)="addEndpointRedirect(group.groupID)" *ngIf="group">
            Add Endpoint
        </a>


        <!-- nombre del grupo -->

        <!-- lista de los endpoint que pertenecen al grupo -->
        <table class="info">
            <!-- falta ponerle color a la row dependiendo del tipo de metodo -->
            <tr *ngFor="let endpoint of DROPDOWN_LIST">
                <th
                    [ngClass]="{get: endpoint.methodType == 'GET', post: endpoint.methodType == 'POST', put: endpoint.methodType == 'PUT', delete: endpoint.methodType == 'DELETE'}">
                    {{endpoint.methodType}}</th>
                <th
                    [ngClass]="{get2: endpoint.methodType == 'GET', post2: endpoint.methodType == 'POST', put2: endpoint.methodType == 'PUT', delete2: endpoint.methodType == 'DELETE'}">
                    {{endpoint.path}}</th>
                <td align="right"
                    [ngClass]="{get2: endpoint.methodType == 'GET', post2: endpoint.methodType == 'POST', put2: endpoint.methodType == 'PUT', delete2: endpoint.methodType == 'DELETE'}">
                    <button class="edit_button" mat-icon-button (click)="editEndpointRedirect(endpoint.endpointID)">
                        <mat-icon>edit</mat-icon>
                    </button>
            </td>
            </tr>
        </table>

    </ng-template>


</body>