table {
  background-color: #F2EEE9;
  width: 90%;
  border-spacing: 0 8px !important;
  border-collapse: separate;
}

.mat-header-cell{
  border-bottom: 0px;
  font-size: larger;
}

td.mat-cell {
  border-bottom: 0px solid #ffffff;
  border-top: 0px solid #ffffff;
}
.mat-row:hover .mat-cell {
    background-color: rgba(158, 158, 158, 0.2); 
    cursor: pointer;   
}
td.mat-cell:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

td.mat-cell:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.mat-column-isFavorite{
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  padding-right: 25px;
}
.mat-column-Name{
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  padding-right: 25px;
}
.mat-column-Description{
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.true{
  color: #FF5C00;
  
}
.false:hover{
  color: #FF5C00;
  
}

.false{
  color: #c2bfbf;
}

.mat-row {
  background-color: #ffffff;
}


#deleteBtn:hover{
  color: red;
}

#addButton{
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  right: 10%;
  top: 5%;
}

#addButton:hover{
  background-color:rgba(158, 158, 158, 0.2); 
  color:#FF5C00;
}

.searchBar {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
