<div class="">
    <mat-form-field appearance="standard">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input class="searchBar">
    </mat-form-field>
  </div>
<table mat-table [dataSource]="ApiList">
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let api">{{api.name}}</td>
    </ng-container>
    <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let api">{{api.description}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"(click)="apiDetailRedirect(myRowData)"></tr>
</table>
