.online{
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
    margin-left: 0.25rem/* 4px */;
    margin-top: 0.5rem/* 8px */;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
    border-radius: 0.75rem/* 12px */;
}

.offline{
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
    margin-left: 0.25rem/* 4px */;
    margin-top: 0.5rem/* 8px */;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
    border-radius: 0.75rem/* 12px */;
}

.dataText{ /* datos de service level*/
    margin-left: 0.25rem/* 4px */;
    margin-top: 0.25rem/* 4px */;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity));
}

.tag{
    text-transform: uppercase;
    font-size: 0.75rem/* 12px */;
    line-height: 1rem/* 16px */;
    --tw-text-opacity: 1;
    color: rgb(202 138 4 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 240 138 / var(--tw-bg-opacity));
    padding-left: 0.5rem/* 8px */;
    padding-right: 0.5rem/* 8px */;
    padding-top: 0.25rem/* 4px */;
    padding-bottom: 0.25rem/* 4px */;
    border-radius: 0.75rem/* 12px */;
}

.roundShadow{
    border-radius: 0.75rem;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bigImg{
    width: 100%;
    border-top-left-radius: 0.75rem/* 12px */;
    border-top-right-radius: 0.75rem/* 12px */;
    height: 9rem;
    object-fit: cover;
}

.flex1{
    display: flex;
    flex-direction: column;
    padding: 1.5rem/* 24px */;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexCenter{
    align-items: center;
    display: flex;
}
.titleText{
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    margin-top: 0.5rem/* 8px */;
    font-weight: 700;
}

.descriptionText{
    margin-top: 0.25rem/* 4px */;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
    text-align: justify;
}
.statusText{
    margin-top: 0.5rem/* 8px */;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.rowForIcons{
    display: flex;
    flex-direction: row;
    margin-top: 1.75rem/* 28px */;
}

.serLev{
    height: 2.5rem/* 40px */;
    width: 2.5rem/* 40px */;
    object-fit: cover;
}

.respTime{
    height: 2.5rem/* 40px */;
    width: 2.5rem/* 40px */;
    object-fit: cover;
    margin-left: 2.5rem/* 40px */;
}

.gridCardView{
    display: grid;
    padding: 2rem/* 32px */;
    gap: 2rem/* 32px */;
    grid-template-columns: repeat(1, minmax(0, 1fr));

}