<body>
    <h1 class="nombre">Add API</h1>

    <div class="example-container" >

        <form >

            <mat-form-field class="searchInput" appearance="outline">
                <mat-label>API's Name</mat-label>
                <input type="text" matInput [formControl]="nombreFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nombreFormControl.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input type="text" matInput [formControl]="descFormControl" [errorStateMatcher]="matcher" placeholder="Describe your API">
                <mat-error *ngIf="descFormControl.hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>


            <!-- <input class="searchInput"  placeholder="API's Name" aria-label="Search"> -->
            <!-- <input class="searchInput input2"  placeholder="Describe your API" aria-label="Search"> -->
            
        </form>

        <br>

        <form>
            <mat-form-field appearance="outline" >
                <mat-label>Select category</mat-label>
                <mat-select>
                    <mat-option *ngFor="let category of DROPDOWN_LIST" [value]="category.name">
                        {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
    
              <!-- <form class="example-form"> -->
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Base URL</mat-label>
                  <input type="url" matInput [formControl]="urlFormControl" [errorStateMatcher]="matcher">
                  
                  <!--
                      Lo que este error hace es marcar cunado se ingresa algo que no es un email 
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid URL
                  </mat-error> -->
                  <!-- sale este error cuando no se pone nada en el input -->
                  <mat-error *ngIf="urlFormControl.hasError('required')">
                    Base URL is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              <!-- </form> -->    
        </form>

        <p>The creator of this API will be - <span class="highlight">{{user}}</span></p>

        <br>

        <p>Specify using:</p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="ui">UI</mat-button-toggle>
            <mat-button-toggle value="postman">Postman Collection</mat-button-toggle>
        </mat-button-toggle-group>



        <div class="buttons">
            <a mat-button class="button button1" routerLink="addEndpoint">
                Add API
            </a>
            <button class="button button1">Cancel</button>
            <button class="button button2" >Add Api</button>

        </div>

    </div>

</body>