<body>
  <app-navbar></app-navbar>
  <h1 class="nombre">Add Endpoint</h1>

  <div class="example-container">

    <form>

      <mat-form-field class="searchInput" appearance="outline">
        <mat-label>Endpoint's Name</mat-label>
        <input type="text" matInput [formControl]="nombreFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nombreFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <input type="text" matInput [formControl]="descFormControl" [errorStateMatcher]="matcher"
          placeholder="Describe your API">
        <mat-error *ngIf="descFormControl.hasError('required')">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <br>

    <form>
      <mat-form-field appearance="outline">
        <mat-label>Method</mat-label>
        <mat-select>
          <mat-option *ngFor="let method of DROPDOWN_LIST" [value]="method.type">
            {{method.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <form class="example-form"> -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Path</mat-label>
        <input type="url" matInput [formControl]="urlFormControl" [errorStateMatcher]="matcher">

        <!--
                      Lo que este error hace es marcar cunado se ingresa algo que no es un email
                      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  </mat-error> -->
        <!-- sale este error cuando no se pone nada en el input -->
        <mat-error *ngIf="urlFormControl.hasError('required')">
          Path <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- </form> -->
    </form>

    <br>
    <p class="separador">PARAMETERS</p>

    <div *ngFor="let param of params; let i = index">
      <form>
        <mat-form-field class="smallDropdown" appearance="outline">
          <mat-label>Parameters's Name</mat-label>
          <input type="text" matInput [(ngModel)]="param.name" name="name{{i}}">
          <mat-error *ngIf="nombreFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="smallDropdown" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="param.type" name="type{{i}}">
            <mat-option *ngFor="let type of DROPDOWN_LIST2" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>

          <!-- <mat-select formControlName="categoryID">
            <mat-option *ngFor="let category of CategoryList" [value]="category.categoryID">
              {{category.name}}
            </mat-option> -->
        </mat-form-field>

        <mat-form-field class="smallDesc" appearance="outline">
          <mat-label>Parameter's Description</mat-label>
          <input type="url" matInput [(ngModel)]="param.desc" name="desc{{i}}">
          <mat-error *ngIf="urlFormControl.hasError('required')">
            Description <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>



      <!-- <input type="text" [(ngModel)]="param.name" #name="ngModel" name="value{{i}}"> -->

      <button mat-button id="addButton" (click)="removevalue(i)">
        Remove</button>

      <!-- <button (click)="removevalue(i)">Remove</button> -->
    </div>

    <button mat-icon-button (click)="addvalue()">
      <mat-icon>add_box</mat-icon>
    </button>
    <!-- <button (click)="addvalue()">ADD</button> -->

    <h2>Result</h2>
    <!-- Checa si se agrega todo -->
    <div *ngFor="let value of params;">
      {{ value.name }}
      {{ value.type }}
      {{ value.desc }}
    </div>

    <div class="buttons">
      <a mat-button class="button button1" routerLink="addEndpoint">
        Cancel
      </a>
      <a mat-button class="button button2" routerLink="addEndpoint">
        Save
      </a>

    </div>

  </div>

</body>
