body{
  background-color: #F2EEE9;
  overflow-y: auto;
}

h1{
  display: inline-flex;
  padding-right: 0.5rem;
  justify-content: flex-start;
}

.sidebar{
  width:15%;
  float:left;
  margin-left: 2%;
  margin-top: 5%;
}
.detailContent{
  margin-left:20%;
  width: 75%;
}
.firstBlock{
  display: inline-block;
  align-items: flex-end;
  vertical-align:middle;
}
.nombre{
  font-weight: 750;
  padding-top: 1rem;
}
.apiData{
  font-weight:900;
  padding-top: 5%;
  margin-left:20%;
}

#baseURL{
  font-weight:normal;
}

.separador{
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
  font-weight: 500;
  padding-top: 1em;
}

table.info {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
table.info tr th,
table.info tr td {
    padding: 2px;
    font-weight: bolder;
}


table.info tr th {
  text-align: left;
  font-weight: 400;
  padding-left: 10px;
  max-width: 10rem;
  min-width: 3rem;
}

table.info th:last-child {
  max-width: 30px;
}

/* top-left border-radius */
table.info tr:first-child th:first-child {

  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* top-right border-radius */
table.info tr:first-child th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

}

table.params tr:first-child{
    border-bottom: 0.5px solid black;
}

 table.params{
    /* border-bottom: 1px solid black; */
    /* border-collapse: separate; */
    /* border-spacing: 1 15; */
    width: 100%;
 } 

 table.params tr th,
 table.params tr td {
  text-align: left;
  font-weight: 370;
  padding-left: 10px;
  color: black;
  min-height: 40px;
}

table.params {
  border-bottom: 1px sdolid black;
}

.searchInput {
  min-width: 100px;
  max-width: 500px;
  height: 30px;
  border-radius: 5px;
  border-color: #EEEDED;
  border-width: 0.5px;
  background-color: #EEEDED;
  padding-left: 15px;
}
.searchInput::placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;  
    font-size:medium;
 }
 pre {
  background: #333333;
  width: 100%; 
  outline: 1px solid #ccc; 
  padding: 5px;  
  margin-top: 15px; 
  color: white;
}

.get {
  color: white;
  background: #61AFFE;
  font-style: italic;
  /* border-radius: 5px 0px 0px 5px; */
  width: 10%;
  padding-left: 1%;
  border-left: 1px solid ;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

.post {
  color: white;
  background: #49CC90;
  font-style: italic;
  border-radius: 5px 0px 0px 5px;
  width: 10%;
  padding-left: 1%;
  border-left: 1px solid ;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.delete {
  color: white;
  background: #DC4349;
  font-style: italic;
  border-radius: 5px 0px 0px 5px;
  width: 10%;
  padding-left: 1%;
  border-left: 1px solid ;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;

}

.put {
  color: white;
  background: #FCA130;
  font-style: italic;
  border-radius: 5px 0px 0px 5px;
  width: 10%;
  padding-left: 1%;
  border-left: 1px solid ;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.get2 {
  background: #EBF3FB;
  max-width: 35%;
  padding-left: 1%;
  letter-spacing: 2px;
  text-align: left;
  font-weight: lighter;
}

.post2 {
  background: #bbdf9f;
  /* width: 35%; */
  padding-left: 1%;
  letter-spacing: 2px;
  text-align: left;
  font-weight: lighter;
}

.delete2 {
  background: #eda7a4;
  /* width: 35%; */
  padding-left: 1%;
  letter-spacing: 2px;
  text-align: left;
  font-weight: lighter;

}

.put2 {
  background: #f7dc97;
  /* width: 35%; */
  padding-left: 1%;
  letter-spacing: 2px;
  text-align: left;
  font-weight: lighter;
}

/* .requestBody {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
} */

.requestBodyItem {
  font-family: monospace;
  color: lightgray;
}
.icon-display {
  position:relative;
  right: 3%;
  top: -0.35rem;
  transform: scale(0.95);

}
.mat-icon-button{
  transform: scale(0.8);
}

.success{
  color: #49CC90;
  font-weight: bold;
}

.redirect{
  color: #5765f2;
  font-weight: bold;
}

.error{
  color: #DC4349;
  font-weight: bold;
}

#tButton{
  border-radius: 10px;
  background-color:#FF5C00;
  position: relative;
  left: 61rem;
  top: 1rem;
}