<body>
  <app-navbar></app-navbar>
  <div class="sidebar">
    <app-endpoint-sidebar (outputToParent)="getOutputEndpointID($event)"></app-endpoint-sidebar>
  </div>
  <div class="apiData">
    <span *ngFor="let api of apiData">
      <h1>{{api.name}}</h1>
      <h3 id="baseURL">Base URL: {{api.baseUrl}}</h3>
    </span>
  </div>
    <div class="detailContent" *ngIf="receivedEndpoint">
      <!-- <p><a href="{{baseURL}}">Base URL: {{baseURL}}</a></p> -->
      <h2 class="nombre">{{receivedEndpoint.name}}</h2>
      <table class="info">
        <tr [ngClass]="{get2: receivedEndpoint.methodType == 'GET', post2: receivedEndpoint.methodType == 'POST', put2: receivedEndpoint.methodType == 'PUT', delete2: receivedEndpoint.methodType == 'DELETE'}">
          <th [ngClass]="{get: receivedEndpoint.methodType == 'GET', post: receivedEndpoint.methodType == 'POST', put: receivedEndpoint.methodType == 'PUT', delete: receivedEndpoint.methodType == 'DELETE'}">
            {{receivedEndpoint.methodType}}</th>
          <th>{{receivedEndpoint.path}}</th>
          <th> Last response: {{receivedEndpoint.lastResp}}</th>
          <th>2 days ago</th>
        </tr>
      </table>
      <br>
      <p>{{receivedEndpoint.endpointDescription}}</p>
      <div *ngIf="receivedParams.length!=0">
        <p class="separador">PARAMETERS</p>
        <table class="params">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th> Description</th>
            <th></th>
          </tr>
          <br>
          <tr *ngFor="let param of receivedParams">
            <td>{{param.paramName}}</td>
            <td>{{param.dataType}}</td>
            <td>{{param.paramDescription}}</td>
            <td>
              <form>
                <input class="searchInput" type="search" placeholder={{param.paramName}} aria-label="Search"> <!-- usar valor de aqui para concatenar en request  -->
              </form>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <p class="separador">Responses</p>
      <table class="params">
        <tr>
          <th>Code</th>
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
        <br>
        <tr>
          <td>{{receivedEndpoint.number}}</td>
          <td>{{receivedEndpoint.respDescription}}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <!-- <pre><p>{{pet | json}}</p></pre> -->
    </div>
    <mat-card class="example-card" *ngIf="receivedEndpoint">
      <mat-card-content>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Request Method</mat-label>
                          <mat-select [(value)]="selectedRequestMethod">
                              <mat-option *ngFor="let method of requestMethods" [value]="method">
                                  {{ method }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col-md-9">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>API Endpoint</mat-label>
                          <input type="url"  matInput placeholder="Enter URL here..." #end="ngModel" [(ngModel)]="endpoint">
                          <mat-error *ngIf="endpointError !== ''">{{ endpointError }}</mat-error>
                      </mat-form-field>
                  </div>
              </div>
              <section class="requestBody">
                  <mat-tab-group>
                      <mat-tab label="Headers">
                          <div class="container-fluid" style="padding: 1rem;">
                              <div class="row">
                                  <div class="col-md-5">
                                      <strong>Key</strong>
                                  </div>
                                  <div class="col-md-6">
                                      <strong>Value</strong>
                                  </div>
                                  <div class="col-md-1"></div>
                              </div>
                          </div>
                          <div *ngFor="let item of requestHeaders; let index=index" class="container-fluid">
                              <div class="row">
                                  <div class="col-md-5">
                                      <mat-form-field class="w-100">
                                          <input
                                              matInput
                                              [disabled]="item.key === 'Content-Type'"
                                              class="requestBodyItem"
                                              [(ngModel)]="item.key"
                                          >
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="w-100">
                                          <input
                                              matInput
                                              [disabled]="item.key === 'Content-Type'"
                                              class="requestBodyItem"
                                              [(ngModel)]="item.value"
                                          >
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-1">
                                      <button
                                          mat-button
                                          [disabled]="item.key === 'Content-Type'"
                                          color="warn"
                                          class="d-block mx-auto"
                                          style="outline: none;"
                                          (click)="removeItem(index, 'Headers')"
                                      >
                                          <i class="material-icons">highlight_off</i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <button
                              mat-flat-button
                              color="accent"
                              [disabled]="isAddDisabled('Headers')"
                              style="outline: none;"
                              (click)="addItem('Headers')"
                          >
                              <span>ADD ITEM</span>
                          </button>
                      </mat-tab>
                      <mat-tab
                          *ngIf="selectedRequestMethod === 'POST'"
                          label="Body"
                      >
                          <div class="container-fluid" style="padding: 1rem;">
                              <div class="row">
                                  <div class="col-md-4">
                                      <strong>Key</strong>
                                  </div>
                                  <div class="col-md-4">
                                      <strong>Value</strong>
                                  </div>
                                  <div class="col-md-3">
                                      <strong>Data Type</strong>
                                  </div>
                                  <div class="col-md-1"></div>
                              </div>
                          </div>
                          <div *ngFor="let item of requestBody; let index=index" class="container-fluid">
                              <div class="row">
                                  <div class="col-md-4">
                                      <mat-form-field class="w-100">
                                          <input
                                              matInput
                                              class="requestBodyItem"
                                              [(ngModel)]="item.key"
                                          >
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-4">
                                      <mat-form-field
                                          *ngIf="requestBodyDataTypes[index] !== 'Boolean'"
                                          class="w-100"
                                      >
                                          <input
                                              [type]="requestBodyDataTypes[index].toLowerCase()"
                                              matInput
                                              [disabled]="requestBodyDataTypes[index] === ''"
                                              class="requestBodyItem"
                                              [(ngModel)]="item.value"
                                              #value="ngModel"
                                          >
                                      </mat-form-field>
                                      <mat-form-field
                                          appearance="legacy"
                                          *ngIf="requestBodyDataTypes[index] === 'Boolean'"
                                          class="w-100"
                                      >
                                          <mat-label>Value</mat-label>
                                          <mat-select
                                              [disabled]="requestBodyDataTypes[index] === ''"
                                              [(value)]="item.value"
                                          >
                                              <mat-option value="true">True</mat-option>
                                              <mat-option value="false">False</mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                      <mat-form-field
                                          appearance="legacy"
                                          class="w-100"
                                      >
                                          <mat-label>Data Type</mat-label>
                                          <mat-select
                                              [(value)]="requestBodyDataTypes[index]"
                                          >
                                              <mat-option
                                                  *ngFor="let type of availableDataTypes"
                                                  [value]="type"
                                              >
                                                  {{ type }}
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-1">
                                      <button
                                          mat-button
                                          color="warn"
                                          class="d-block mx-auto"
                                          style="outline: none;"
                                          (click)="removeItem(index, 'Body')"
                                      >
                                          <i class="material-icons">highlight_off</i>
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <button
                              mat-flat-button
                              color="accent"
                              [disabled]="isAddDisabled('Body')"
                              style="outline: none;"
                              (click)="addItem('Body')"
                          >
                              <span>ADD ITEM</span>
                          </button>
                      </mat-tab>
                  </mat-tab-group>
              </section>
              <button
                  mat-flat-button
                  [disabled]="!endpoint"
                  color="primary"
                  (click)="sendRequest()"
              >
                  SEND REQUEST
              </button>
              <br>
              <br>
              <div class="w-100" style="background-color: black; padding: 1rem; min-height: 5rem;">
                  <mat-progress-spinner
                      *ngIf="loadingState"
                      class="d-block mx-auto"
                      color="accent"
                      mode="indeterminate"
                  ></mat-progress-spinner>
                  <pre
                      *ngIf="responseData"
                      style="color: rgb(228, 175, 255); white-space: pre-wrap;"
                  >{{ responseData }}</pre>
                  <pre
                      *ngIf="responseError"
                      style="color: rgb(255, 96, 96); white-space: pre-wrap;"
                  >{{ responseError }}</pre>
              </div>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
</body>