<!-- <mat-toolbar class="mat-elevation-z4" color="primary">
  <a href="/" class="title">AzureTeach.Net</a>
<div class="toolbar-spacer"></div>
  <a mat-button [routerLink]="['profile']">Profile</a>
  <a mat-button [routerLink]="['reports']">Reports</a>
  <button mat-raised-button *ngIf="!isUserLoggedIn" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>
</mat-toolbar>
<div style="margin:5px;"></div> -->

<!--Boton para hacer Sign-In a Microsoft-->
<html>
  <body>
    <div class="background">
      <div class="wrapper">
        <a mat-button [routerLink]="['home']">Home</a>
        <div class="row">
          <img id="image"src="../assets/images/logo-no-text.png" alt="logo de checkAPI" />
        </div>
        <div class="row">
          <h3>Login</h3>
        </div>
        <div class="row">
          <h5>Inicia sesion con tu cuenta de checkAPI</h5>
        </div>
        <div class="row">
          <button mat-raised-button (click)="login()" >
            <object
              type="image/svg+xml"
              data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg"
              class="x-icon"
            ></object>
            Sign in with Microsoft
          </button>
        </div>
      </div>
      <div class="empty-box"></div>
    </div>
  </body>
</html>
