mat-toolbar {
    background: #F2EEE9;
    color: black;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #F2EEE9;
    color: black;
    text-align: justify;
    text-indent: 10%;
    border-radius: 10px;
}
mat-sidenav-content{
  left: 5%;
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: black;

    border-radius: 10px;
}
.sideNav-title{
    text-align: left;
    margin: 10px;
    margin-left: 19px;
    font-weight: 550;
    font-size: 1rem;
    color: #4C4A48;
}

mat-sidenav-container {
    width: 100%;
    height: calc(100vh - 65px);
    background: #F2EEE9;
}

.list-group-item{
    background-color: transparent;
    border: none;
}
.list-group-item:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
}
