<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
</button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z0">
        <h4 class="sideNav-title">Categories</h4>
      <ul class = "list-group">
        <a md-button >
          <li  (click)="refreshApis(); setIndex(-1)" [ngClass] = "calculateClasses(selectedIndex === -1)" >
            {{fixedCategories[0].name}}
          </li>
        </a>
        <a md-button>
          <li
            *ngFor = "let category of CategoryList; let i = index"
            (click)="refreshCategoriesFiltered(category.categoryID); setIndex(i)"
            [ngClass] = "calculateClasses(selectedIndex === i)"
          >
            {{category.name}}
            <span class="APIcount"> 
              ({{category.APIcount}})
            </span>
          </li>
        </a>
        <a>
          <li  (click)="refreshApis(); setIndex(-2)" [ngClass] = "calculateClasses(selectedIndex === -2)" >
            <!-- first row: "Other" -->
            {{fixedCategories[1].name}}
          </li>
        </a>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <app-list-view [ApiList]="apiList"></app-list-view>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
