
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" routerLink="home">
        <img
          src="./assets/Imagenes/logo.png"
          height="30"
          class="d-inline-block align-top"
          alt=""
        >
        <!-- CheckApi  -->
        
        
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search API" aria-label="Search">
        </form>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        <li class="nav-item">
            <a class="nav-link">
              <div class="btn-group" mdbDropdown>
                <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                <div class="dropdown-menu dropdown-menu-end ">
                  <ul>
                    <li>
                      <p>Alan Lopez</p>
                      <!-- <a class="dropdown-item" href="#"></a> -->

                    </li>
                    <li>
                      <p>lopezalan@gmail.com</p>
                      <!-- <a class="dropdown-item">lopezalan@gmail.com</a> -->

                    </li>
                  </ul>
                  

                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log Out</a>
                </div>
              </div>
            </a>
          </li>
        </ul>



    </div>
  </nav>
