<mat-toolbar color="" class="mat-elevation-z3">
  <a mat-button routerLink="home">
      <img
        src="./assets/images/logo.png"
        height="45"
        class="d-inline-block align-top"
        alt=""
      >
  </a>

  <div class="searchBar">
      <form>
        <input class="searchInput" type="search" placeholder="Search API" aria-label="Search">
      </form>
  </div>

<!--   <a mat-button routerLink="detailed">
    Detailed view   
  </a>   -->

  <div class="spacer"></div>

  <!-- Dropdown de información del usuario -->
  <mat-menu #appMenu="matMenu">
      <p mat-menu-item disabled class="fontB"  >Alan Lopez</p>
      <p mat-menu-item disabled class="fontC"  >alan.lpz</p>
      <p mat-menu-item disabled class="fontC">lopezalan@gmail.com</p>
      <button mat-menu-item>Log Out</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon class="icon-display">account_circle</mat-icon>
    </button>
</mat-toolbar>
